%h1= t 'toolkits'
= t 'toolkits_content.text_1'
%hr
= t 'toolkits_content.text_2'
%ul
  %li= t 'toolkits_content.bullet_1'
  %li= t 'toolkits_content.bullet_2'
  %li= t 'toolkits_content.bullet_3'
%hr
= t 'toolkits_content.text_3'
