.content__section--intro
  .container-fluid.col-md-12
    - breadcrumb :resources
    = datagrid_form_for @resources_grid, url: resources_path
    - @total_count = @resources_grid.assets.total_count
    .well.well-sm
      = t 'showing'
      #{number_with_delimiter(@total_count)} #{Resource.model_name.human(count: @total_count)}
    = datagrid_table(@resources_grid)
    = paginate @resources_grid.assets, theme: 'twitter-bootstrap-4'
    
    :coffeescript
      $('select').each ->
        $(this).change ->
          $(this).closest('form').trigger 'submit.rails'