- breadcrumb :admin_collection_organisations, @collection
= render 'admin/collections/cartouche'
= render 'admin/collections/tabs'
= datagrid_form_for @organisations_grid, url: [:manage_organisation_access, :admin, @collection]
- @total_count = @organisations_grid.assets.total_count
%span.display-4.mb-2.clearfix
  = t 'showing'
  #{@total_count} #{Organisation.model_name.human(count: @total_count)}
= datagrid_table(@organisations_grid)
= paginate @organisations_grid.assets, theme: 'twitter-bootstrap-4'


:coffeescript
  $('select').each ->
    $(this).change ->
      $(this).parent('form').trigger 'submit.rails'
      $(this).siblings('.fa-circle-o-notch').fadeIn()

